@import "./Functions";


#AboutPage{

    overflow: hidden;
    margin: 50px 0px;

    section{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: calc(100vh - 60px);
        margin-bottom: clamp(50px, 2vw ,100px);
    }

    section:nth-child(3){
        flex-wrap: wrap-reverse;
    }

    .bgSquare{
        position: absolute;
        left: -100px;
        width: 50%;
        height: 100%;
        opacity: .6;
        transform: rotate(10deg);
        background:linear-gradient( to bottom, white, var(--SiteColor2), var(--SiteColor2), var(--SiteColor1), var(--SiteColor1), white);
        z-index: 0;
        border: 1px solid white;
    }

    .Skills, .LottieAnimation, .CarouselContainer, .CarouselData{
        position: relative;
        flex: 1 1 500px;
        @include alignCenter();
        min-height: 50%;

    }

    .Skills{

        justify-content: space-evenly;
        z-index: 1;

        > * {
            margin: 0px 5%;
        }

        h2{
            font-size: clamp(25px, 5vw, 45px);
            font-weight: bolder;
            color: var(--SiteColor1);
        }
        p{
            font-size: clamp(12px, 2vw, 25px);
            
        }
        h4{
            font-size: 25px;

        }

        #text1{
            margin-left: 15%;
        }

        span{

            @include alignCenter();
            flex-direction: row;
            justify-content: flex-start;
            width: 90%;
            height: 10%;
            // background-color: lightgreen;

            svg{
                border-radius: 50%;
                height: 80%;
                width: auto;
                margin: 0px 10%;
                fill: white;
                filter: drop-shadow(0px 0px 5px black);
            }
        }
    }

    .LottieAnimation{

        height: 100%;
        width: auto;

        svg{
            height: 100%;
            width: 100%;
        }
    }

    .CarouselContainer{

        @include alignCenter();

        .swiper-container{
            border-radius: 10px;
            position: absolute;
            height: 80%;
            width: 80%;

            .swiper-slide{
                width: auto;
                height: 100%;
                @include alignCenter();

                img{
                    border-radius: 10px;
                    height: 90%;
                    width: auto;
                }

                .rectangle{
                    width: 90%;
                    height: auto;
                }
            }
        }
    }

    .CarouselData{
        justify-content: space-evenly;

        > * {
            margin: 0px 10%;
            text-align: center;
        }

        h1{
            font-size: clamp(20px, 3vw, 45px);
            font-weight: bolder;
            color: var(--SiteColor2);
        }
        p{
            font-size: clamp(12px, 3vw, 25px);
            font-weight: bolder;
        }
        h2{
            font-size: clamp(14px, 3vw, 30px);
            font-weight: bolder;
            color: var(--SiteColor1);
        }
        .MessageBox{
            @include alignCenter();
            flex-direction: row;
            height: 30%;
            width: 90%;
            border-radius: 10px;

            .ResourcesButton{
                border: 2px solid var(--SiteColor1);
                transition: background 500ms;

                &:hover{
                    background-color: #53af324d;
                }
            }
                
            .ContactUsButton{
                border: 2px solid var(--SiteColor2);
                transition: background 500ms;

                &:hover{
                    background-color: #3599d85f;
                }
            }
        

            div,a{
                width: 45%;
                height: 80%;
                @include alignCenter();
                flex-direction: row;
                justify-content: space-around;
                cursor: pointer;
                border-radius: 10px;

                p{
                    width: 50%;
                    font-size: clamp(6px, 2vw, 15px);
                    font-weight: bolder;
                    margin: 0px 5%;
                }

                .LottieAnimation2, .LottieAnimation3{
                    width: 50%;
                    height: 90%;
                }
            }

        }
    }

    .MisVisBox{

        position: relative;
        flex: 1 1 550px;
        max-height: 100%;
        @include alignCenter();
        flex-direction: column;
        justify-content: space-evenly;

        .VisionContainer, .MissionContainer{
            position: relative;
            width: 90%;
            height: 45%;
            border-radius: 1rem;
            @include alignCenter();
            justify-content: space-evenly;
    
            h2{
                font-size: clamp(20px, 3vw, 45px);
                font-weight: bolder;
            }
    
            .TextBoxMision, .TextBoxVision{
    
                position: relative;
                height: 50%;
                width: 90%;
                overflow-y: scroll;
    
                p{
                    font-size: clamp(10px, 1.5vw, 17px);
                }
    
                p:nth-child(1){
                    font-weight: bolder;
                    text-align: center;
                }
            }
    
            .SvgContainer{
                width: 100%;
                height: 100%;
                position: absolute;
                @include alignCenter();
                background-color: rgba(255, 255, 255, 0.324);
                backdrop-filter: blur(20px);
                border-radius: 1rem;
                pointer-events: none;
                transition: transform 500ms, background-color 500ms;
    
                svg{
                    width: 50%;
                    height: 50%;
                    transition: width 500ms, height 500ms, fill 500ms;
                }
            }
    
            &:hover{
    
    
                .SvgContainer{
                    transform: scale(.35) translate(-100%, -100%);
                    background-color: rgba(0, 0, 0, 0.16);
    
    
                    svg{
                        width: 70%;
                        height: 70%;
                        fill: white;
                    }
                }
            }
        }
    
        .VisionContainer{
            border: 5px solid var(--SiteColor1);
            background-color: #53af323c;
    
            .SvgContainer{
                svg{
                    // fill: #54af32;
                    fill: black;
                }
            }
    
            
        }
        
        .MissionContainer{
            border: 5px solid var(--SiteColor2);
            background-color: #3599d843;
    
            .SvgContainer{
                svg{
                    // fill: #359ad8;
                    fill: black;
                }
            }
    
        }
    }

    .ValuesBox{
        position: relative;
        overflow: hidden;
        flex: 1 1 550px;
        max-height: 100%;
        @include alignCenter();
        justify-content: space-evenly;

        h2{
            font-size: clamp(20px, 5vw, 45px);
            font-weight: bolder;
            color: var(--SiteColor2);
        }

        p{
            font-size: clamp(7px, 1.5vw, 17px);
            width: 90%;
            font-weight: bolder;

            span{
                color: var(--SiteColor2);
            }
        }
    }


}