@import "./Functions";


.App{

    #ContactPage{
        position: relative;
        background: linear-gradient(to bottom , white , var(--SiteColor2));

        .ContactContainer{
            position: relative;
            width: 100%;
            height: 75%;
            @include alignCenter();

            form{
                position: relative;
                width: 80%;
                height: 70%;
                background-color: white;
                margin-left: 10%;
                border-radius: 10px;
                
                .MapContainer{
                    position: absolute;
                    top: -5%;
                    left: -10%;
                    border-radius: 10px;
                    width: 40%;
                    height: 110%;
                    background-color: rgba(255, 255, 255, 0.194);
                    backdrop-filter: blur(15px);
                    border: 2px solid white;
                }

                .Data{
                    width: 70%;
                    height: 100%;
                    position: absolute;
                    right: 0px;
                    overflow: hidden;

                    h2{
                        width: 100%;
                        height: 15%;
                        @include alignCenter();
                        font-size: clamp(20px, 3vw, 30px);
                        font-weight: bolder;
                        color: var(--SiteColor1);
                    }
                    
                    .Fields{
                        width: 100%;
                        height: 85%;
                        flex-wrap: wrap;       
                        display: flex;    
                        overflow-y: auto; 
                        overflow-x: hidden;          

                        span{
                            position: relative;
                            height: 100%;
                            max-width: 50%;
                            flex: 1 1 300px;
                            @include alignCenter();
                            justify-content: space-around;
                        }

                        .Field1{

                            .box{
                                position: relative;
                                width: 70%;
                                height: 40px;
                                overflow: visible;
                                @include alignCenter();
                                align-items: flex-start;
                                
                                input{
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    color: white;
                                    border: 2px solid transparent;
                                    border-bottom: 2px solid black;
                                    outline: none;
                                    z-index: 0;
                                    padding-left: 2%;
                                    transition: color 500ms, border-bottom 500ms;
                                    font-size: clamp(.7rem, 2vw, 1rem);
                                    
                                    &:focus, &:valid{
                                        
                                        color: black;
                                        border-bottom: 2px solid var(--SiteColor1);
                                        transition: color 500ms, border-bottom 500ms;
                                        
                                        & + p{
                                            transition: transform 500ms, color 500ms, font-size 500ms;
                                            color: var(--SiteColor1);
                                            transform: translate(-10px, -30px);
                                            font-size: clamp( .6rem, 2vw, .8rem);
                                        }
                                    }
                                }

                                p{
                                    position: absolute;
                                    padding: 0px 10px;
                                    @include alignCenter();
                                    font-weight: bolder;
                                    color: gray;
                                    pointer-events: none;
                                    z-index: 1;
                                    background-color: white;
                                    margin-left: 2%;
                                    font-size: clamp(.7rem, 2vw, 1rem);
                                    border-radius: 1em;
                                    transition: transform 500ms, color 500ms, font-size 500ms;
                                }
                            }

                            
                        }
                        .Field2{

                            .box{
                                position: relative;
                                height: 50%;
                                width: 80%;
                                overflow: visible;
                            }
                            
                            textarea{
                                position: absolute;
                                border: 2px solid black;
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                transition: color 500ms, border-bottom 500ms;
                                z-index: 0;
                                padding: 3%;
                                resize: none;
                                font-size: clamp(.7rem, 2vw, 1rem);
                                
                                &:focus, &:valid{
                                    
                                    color: black;
                                    border: 2px solid var(--SiteColor1);
                                    transition: color 500ms, border-bottom 500ms;
                                    
                                    & + p{
                                        transition: transform 500ms, color 500ms, font-size 500ms;
                                        color: var(--SiteColor1);
                                        transform: translate(30px, -15px);
                                        font-size: clamp( .6rem, 2vw, .8rem);
                                    }
                                }
                            }


                            p{
                                position: absolute;
                                top: 5px;
                                padding: 0px 10px;
                                @include alignCenter();
                                font-weight: bolder;
                                color: gray;
                                pointer-events: none;
                                z-index: 1;
                                background-color: white;
                                margin-left: 2%;
                                font-size: clamp(.7rem, 2vw, 1rem);
                                transition: transform 500ms, color 500ms, font-size 500ms;
                            }

                        }
                    }
                }
            }
        }

        
        .SocialMedia{
            position: relative;
            width: 100%;
            height: 25%;

            > * {
                position: absolute;
            }
    
            .BottomBar{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50%;
                background-color: #1d145845;
                backdrop-filter: blur(5px);
                z-index: 1;
                @include alignCenter();

                p{
                    color: white;
                    font-size: clamp(10px , 2vw, 15px);
                    font-weight: bolder;
                }
            }

            .Icons{
                position: relative;
                width: 100%;
                height: 100%;
                // background-color: rgba(0, 0, 0, 0.214);
                @include alignCenter();
                flex-direction: row;
                justify-content: space-around;


                span{
                    top: 0px;
                    position: relative;
                    width: 120px;
                    height: clamp( 60px, 30vw, 120px);
                    border: 1px solid rgba(255, 255, 255, 0.351);
                    border-radius: 10px;
                    backdrop-filter: blur(10px);
                    z-index: 0;
                    @include alignCenter();
                    transition: top 500ms, z-index 500ms, transform 500ms, background-color 500ms;
                    transition-delay: 500ms, 0ms, 0ms;
                    cursor: pointer;
                    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.119);
                    
                    
                    svg{
                        fill: white;
                        width: 60%;
                        height: 60%;
                        transition: fill 500ms;
                    }

                }


                .Whats{
                                        
                    &:hover{
                        z-index: 1;
                        transition-delay: 0ms, 300ms, 500ms;
                        top: -62px;
                        background-color: rgba(73, 242, 79, 0.40);
                        transform: translateY(62px);
                    }
                }
                .Twit{
                                        
                    &:hover{
                        z-index: 1;
                        transition-delay: 0ms, 300ms, 500ms;
                        top: -62px;
                        background-color: rgba(255, 255, 0, 0.40);
                        transform: translateY(62px);
                    }
                }
                .Face{
                                        
                    &:hover{
                        z-index: 1;
                        transition-delay: 0ms, 300ms, 500ms;
                        top: -62px;
                        background-color: rgba(40, 40, 232, 0.40);
                        transform: translateY(62px);
                    }
                }
                .Insta{
                                        
                    &:hover{
                        z-index: 1;
                        transition-delay: 0ms, 300ms, 500ms;
                        top: -62px;
                        background-color: rgba(255, 0, 111, 0.40);
                        transform: translateY(62px);
                    }
                }
            }
        }
    }
}
