
@mixin XBurger{
    #line1{
        transform: translateY(12px) rotate(225deg);
        transition: transform 450ms;
        transition-delay: 200ms;
    }

    #line2{
        width: 0px;
        transition: width 100ms;
    }

    #line3{
        transform: translateY(-13px) rotate(-225deg);
        transition: transform 450ms;
        transition-delay: 200ms;
    }
}


@media (max-width: 1100px){

    #HomePage{

        .TiltBox{

            .HTitlesBox{
                .MainTitles{
                    height: 100%;
                }
            }
        }
    }

    #AboutPage{
        .LottieAnimation{
            height: 50%;
            width: auto;
        }

        .MisVisBox, .ValuesBox{
            height: 50%;
        }

    }


    .NavBar{

        .Burguer{
            visibility: visible;
        }

        .BToggled{
            border: 2px solid var(--SiteColor2);
            transition: border 500ms;
            @include XBurger();
        }
        

        ul{
            top: 60px;
            right: 0;
            position: absolute;
            width: 250px;
            background-color: white;
            height: calc(100vh - 60px);
            flex-direction: column;
            justify-content: flex-start;

            li{
                margin: 50px 0px;
                border-radius: 0px;
                border-bottom: 2px solid var(--SiteColor2);
            }
        }

        .NavToggled{
            transform: translateX(0px);
            transition: transform 500ms;
        }
        .NavNotToggled{
            transform: translateX(250px);
            transition: transform 500ms;
        }
    }
}

@media (max-width: 800px){

    .App{
    
        #ContactPage{

            height: calc(150vh - 60px);

            .ContactContainer{
                form{
                    margin-left: 0px;
                    width: 90%;
                    height: 90%;
    
                    .MapContainer, .Data{
                        position: relative;
                        width: 100%;
                        height: 50%;
                        left: 0%;
                        top: 0%;
                    }
    
                }
            }
        }


        #HomePage{

            .TiltBox{

                .HTitlesBox{
                    .MainTitles{
                        
                        h2{
                            border: 1px solid var(--SiteColor2);
                            background-color: rgba(135, 206, 250, 0.249);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px){
    .App{

        #ContactPage{
            .SocialMedia{
                .Icons{
                    span{
                        transform: translateY(-50px);
                    }


                    .Whats{
                                            
                        background-color: rgba(73, 242, 79, 0.40);
                    }
                    .Twit{
                                            
                        background-color: rgba(255, 255, 0, 0.40);
                    }
                    .Face{
                                            
                        background-color: rgba(40, 40, 232, 0.40);
                    }
                    .Insta{
                                            
                        background-color: rgba(255, 0, 111, 0.40);
                    }
                }
            }
        }
    }
}