@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Bebas+Neue&family=Cinzel+Decorative&family=Dancing+Script&family=Hachi+Maru+Pop&family=Indie+Flower&family=Lobster&family=Nunito:wght@300&family=Orbitron&family=Parisienne&family=Poiret+One&family=Poppins:ital,wght@1,200&family=Press+Start+2P&family=Sorts+Mill+Goudy&family=Source+Serif+Pro:wght@200&family=Unica+One&display=swap');
@import "./Functions";

:root{
    --SiteColor1: #54af32;
    --SiteColor2: #359ad8;
}   

@keyframes Zrotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes Xrotate{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(359deg) rotateY(360deg);
    }
}
@keyframes Yrotate{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(359deg);
    }
}
@keyframes Orotate{
    0%{
        transform: rotateX(-210deg) rotateY(-360deg);
    }
    50%{
        transform: rotateX(120deg) rotateY(270deg);
    }
    100%{
        transform: rotateX(-50deg) rotateY(0deg);
    }

}

// Font Families

// font-family: 'Baloo Da 2', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Hachi Maru Pop', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Nunito', sans-serif;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Parisienne', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Poppins', sans-serif;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Sorts Mill Goudy', serif;
// font-family: 'Source Serif Pro', serif;
// font-family: 'Unica One', cursive;


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--SiteColor2);
}

.App{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "Nav"
    "App";
    font-family: 'Nunito', sans-serif;


    .Loader{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.365);
        backdrop-filter: blur(50px);
        @include alignCenter();
        overflow: hidden;
        z-index: 10;

        .box{
            width: 70%;
            height: 40%;
            @include alignCenter();
            flex-direction: column;
            margin-bottom: 50px;

            div{
                width: 100%;
                height: 33%;
                @include alignCenter();
                overflow: hidden;

                > * {
                    font-weight: bolder;
                }

                h3{
                    font-size: clamp(20px, 5vw, 100px);
                    color: var(--SiteColor1);
                }
                h4{
                    font-size: clamp(15px, 3vw, 90px);
                    color: var(--SiteColor2);
                }
                h5{
                    font-size: clamp(10px, 2vw, 80px);
                }
            }

        }

        .MovingBox{
            position: absolute;
            top: 5%;
            left: 0%;
            width: 100%;
            height: 90%;
            background-color: #54af32;
            transform: translateY(120%);
        }
    }
    
    .NavBar{
        grid-area: Nav;

    }
    
    .AppContainer{
        grid-area: App;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: visible;
        scroll-behavior: smooth;
    }

    #HomePage, #AboutPage, #ContactPage{
        position: relative;
        width: 100%;
        height: 100%;
        // background-color: white;
    }

    #AboutPage{
        height: 200%;
    }

}



@import "./HomeStyling";
@import "./NavStyling";
@import "./AboutStyling";
@import "./ContactStyling";
@import "./ResourcesStyling";
@import "./MobileOpt";